<meta name="viewport" content="width=device-width, initial-scale=1">
<html>
    <head> 
        <title>Risk Management App</title>
        {% load static %}
        <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>        
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    </head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <body>
    
      <div class="container-fluid">

          <div class="row">
              <div class="col-md-8">
                  <!-- <h2 class="display-5">Evacuation Center Tracker</h2> -->
                  <h1>Evacuation Center Tracker</h1>
              </div>
              <div class="col-md-4">
              </div>
          </div>

          <div class="row">
            <div class="col-md-2">
                <!-- start overview panel -->
                <div class="card">
                  <h5 class="card-header">Overview</h5>
                  <div class="card-body">
                      <div class="row">
                        <div class="col-md-5 h6">
                          Forecast:
                        </div>
                        <div class="col-md-7">
                          <span id="warningLabel" class="badge rounded-pill bg-primary">Clear Weather</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 h6">
                          Total Facilities:
                        </div>
                        <div class="col-md-4">
                          <span class="badge rounded-pill bg-success" id="overviewTotalFacilities">0</span>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 h6">
                          Total Active Evacuation Centers:
                        </div>
                        <div class="col-md-4">
                          <span class="badge rounded-pill bg-primary" id="overviewTotalEvacuationCenters">0</span>
                        </div>
                      </div>
                  </div>
                </div>
                <!-- end overview panel -->
            </div>
            <!-- start map col -->
            <div class="col-md-8">
              <div id="renderMap"></div>
            </div>
            <!-- end map col -->

            <!-- start nav col -->
            <div class="col-md-2">

              <!-- start legends row -->
              <div class="row">
                <div class="col-md-12">
                  <!-- start legends controls -->
                  <div class="card">
                    <h5 class="card-header">Map Pin Legends</h5>
                    <div class="card-body">
                        <div class="row">
                          <div class="col-md-2">
                            <img class="icon-legend-image" src="{% static 'icons/gps_icon.png' %}" alt="Evacuation Center Icon">
                          </div>
                          <div class="col-md-10">
                            Evacuation Centers  
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <img class="icon-legend-image" src="{% static 'icons/hosp_icon.png' %}" alt="Hospital Icon">
                          </div>
                          <div class="col-md-10">
                            Hospital
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <img class="icon-legend-image" src="{% static 'icons/educ_icon.png' %}" alt="School Icon">
                          </div>
                          <div class="col-md-10">
                            Schools
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <img class="icon-legend-image" src="{% static 'icons/airport_icon.png' %}" alt="Airport Icon">
                          </div>
                          <div class="col-md-10">
                            Airport
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-2">
                            <img class="icon-legend-image" src="{% static 'icons/govt_icon.png' %}" alt="School Icon">
                          </div>
                          <div class="col-md-10">
                            Barangay Center
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                  <!-- end legends controls -->
              </div>
              <!-- end legends row -->

              <!-- start marker row -->
              <div class="row">
                <div col-md-12>
                  <!-- start marker controls -->
                  <div class="card">
                    <h5 class="card-header">Markers</h5>
                    <div class="card-body">                      
                      <ul class="list-group">
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input map-marker-checkbox" type="checkbox" value="" id="chkbxEvac" checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    Evacuation Centers
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="form-check">
                                <input class="form-check-input map-marker-checkbox" type="checkbox" value="" id="chkbxFacilities" checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    Facilities
                                </label>
                            </div>
                        </li>
                      </ul>

                    </div>
                  </div>
                  <!-- end marker controls -->
                </div>
              </div>
              <!-- end marker row -->

              <!-- start barangay row -->
              <div class="row">
                <div class="col-md-12">
                  <!-- start barangay controls -->
                  <div class="card">
                    <h5 class="card-header">Area / Barangay Boundaries</h5>
                    <div class="card-body">
                      <div class="form-check">
                        <input class="form-check-input map-polygon-checkbox" type="checkbox" value="" id="chkbxPolyRisk" checked>
                        <label class="form-check-label" for="flexCheckDefault">
                            Risk Level
                        </label>
                      </div>
                    </div>
                  </div>
                  <!-- end barangay controls -->
                </div>
              </div>
              <!-- end barangay row -->

            </div>
            <!-- end nav col -->
        </div>

      </div>
      
      <!-- start modal  -->
      <div class="modal" tabindex="-1" id="barangayInfoModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h3 id="modalTitle">Modal Title</h3>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- end modal -->

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      <script defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_API_KEY}}&callback=riskManagement.initMap"></script>
    </body>

</html>